* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

:root {
    --main-sidepanel-color: #121212;
    --main-mainpanel-color: #161a1d;
    --main-text-color: #e3e3e3;
}

html, body {
    height: 100vh;
}

#main-container {
    display: flex;
    height: 100%;
}

#side-panel {
    background-color: var(--main-sidepanel-color);
    width: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#todo-name {
    display: none;
}

#todo-title, #todo-list-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--main-sidepanel-color);
}

#todo-list-name {
    background-color: var(--main-mainpanel-color);
}

#main-panel {
    background-color: var(--main-mainpanel-color);
    flex: 2;
}

h1, h2 , li {
    color: var(--main-text-color);
}

#todo-name {
    height: 40px;
    width: 210px;
    min-width: 210px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

#todo-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 210px;
    min-width: 210px;
    word-spacing: 2px;
    border-radius: 10px;
    border: none;
    color: var(--main-text-color);
    background-color: var(--main-sidepanel-color);
}

#todo-add-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--main-mainpanel-color);
}

#project-todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#project-todo-list > li {
    list-style: none;
    height: 40px;
    width: 210px;
    min-width: 210px;
    word-spacing: 2px;
    border-radius: 10px;
    background-color: var(--main-sidepanel-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-todo-list > li:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--main-mainpanel-color);
}

#todo-list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#project-input-form {
    margin-top: 35px;
    height: 50px;
    width: 1000px;
    text-align: center;
    font-size: large;
}

#todo-items-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-item {
    list-style: none;
    width: 1000px;
    border: 3px solid var(--main-sidepanel-color);
}

.todo-list-item-expand-btn {
    cursor: pointer;
}

.todo-item-header {
    height: 50px;
    
    padding: 10px;
    background-color: var(--main-sidepanel-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item-header > div:nth-child(2) {
    flex-grow: 2;
}

.todo-list-item-checkbox-btn {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 3px; 
    cursor: pointer; 
}

.todo-item-body {
    display: flex;
    background-color: var(--main-sidepanel-color);
    display: none;
}

.notes-area {
    height: 260px;
    width: 500px;
    resize: none;
}

.todo-item-body-left {
    width: calc(50%);
}

.todo-item-body-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50%);
}

.date-selector, 
.priority-selector {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.date-btn-container > button {
    height: 40px;
    width: 80px;
    color: #fff;
    background-color: var(--main-mainpanel-color);
    cursor: pointer;
}

.priority-select-panel {
    width: 240px;
    cursor: pointer;
}