@font-face {
    font-family: 'MyFont';
    src: url('../src/assets/OpenSans-VariableFont_wdth\,wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MyFont';
    font-weight: bold;
}

:root {
    --main-sidepanel-color: #121212;
    --main-mainpanel-color: #161a1d;
    --main-text-color: #e3e3e3;
    --main-hover-color: #2a2e31;
    --low-priority-color: #2196f3;
    --medium-priority-color: #f18701;
    --high-priority-color: #da0100;
}

html, body {
    height: 100vh;
}

#title-logo > img {
    background: url(../src/assets/file-check.svg);
    filter: invert(100%);
    height: 30px;
}

#main-container {
    display: flex;
    height: 100%;
}

#side-panel {
    background-color: var(--main-sidepanel-color);
    width: 270px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#project-list {
    display: flex;
    flex-direction: column;
}

#todo-name {
    display: none;
}

#todo-title, #todo-list-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--main-sidepanel-color);
    gap: 5px;
}

#todo-list-name {
    background-color: var(--main-mainpanel-color);
}

#main-panel {
    background-color: var(--main-mainpanel-color);
    flex: 2;
}

h1, h2 , li {
    color: var(--main-text-color);
}

#todo-name {
    height: 40px;
    width: 210px;
    min-width: 210px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

#todo-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 210px;
    min-width: 210px;
    word-spacing: 2px;
    border-radius: 10px;
    border: none;
    color: var(--main-text-color);
    background-color: var(--main-sidepanel-color);
    padding: 20px;
}

#todo-add-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--main-hover-color);
}

#project-list-header {
    color: var(--main-text-color);
    font-size: 12px;
    margin-right: auto;
    padding: 5px 20px 5px 20px;
    color: gray;
}

#project-todo-list {
    display: flex;
    flex-direction: column;
}

#project-todo-list > li {
    list-style: none;
    height: 20px;
    width: 210px;
    min-width: 210px;
    word-spacing: 2px;
    border-radius: 10px;
    background-color: var(--main-sidepanel-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 17px;
}

.todo-project-name > a {
    font-weight: lighter;
}

#project-todo-list > li:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--main-hover-color);
}

#todo-add-btn > span,
.todo-project-name {
    margin-right: auto;
}

#todo-list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#project-input-form {
    margin-top: 35px;
    height: 50px;
    width: 1000px;
    text-align: center;
    font-size: large;
}

#todo-items-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-item {
    list-style: none;
    width: 1000px;
}

.todo-list-item-expand-btn {
    cursor: pointer;
}

.todo-item-header {
    height: 50px;
    padding: 10px;
    background-color: var(--main-sidepanel-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 4px solid var(--main-sidepanel-color);
    border-right: 4px solid var(--main-sidepanel-color);
}

.todo-item-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item-header > div:nth-child(2) {
    flex-grow: 2;
}

.check-btn {
    margin-right: 10px;
}

.date-container {
    margin-left: auto;
}

.expand-btn {
    margin-left: 10px;
}

.todo-list-item-checkbox-btn {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 3px; 
    cursor: pointer; 
}

.todo-item-body {
    height: 275px;
    display: flex;
    background-color: var(--main-sidepanel-color);
    display: none;
    border-left: 4px solid var(--main-sidepanel-color);
    border-right: 4px solid var(--main-sidepanel-color);
}

.notes-area {
    height: 260px;
    width: 490px;
    resize: none;
    border: none;
    padding: 5px;
}

.todo-item-body-left {
    width: calc(50%);
}

.todo-item-body-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50%);
}

.date-selector, 
.priority-selector {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.date-btn-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.due-date-input,
.date-btn-container > button {
    height: 40px;
    width: 80px;
    color: #fff;
    background-color: var(--main-mainpanel-color);
    border: 1px solid var(--main-text-color);
    cursor: pointer;
}

.priority-select-panel:hover,
.date-btn-container > button:hover,
.date-btn-container > input:hover {
    background-color: var(--main-hover-color);
}

.due-date-input {
    width: 120px;
    padding: 5px;
}

.priority-select-panel {
    width: 290px;
    height: 40px;
    color: #fff;
    background-color: var(--main-mainpanel-color);
    border: 1px solid var(--main-text-color);
    cursor: pointer;
}